.main{
  width: calc(100% - 20px);
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
  .article{
    position: relative;
    overflow: hidden;
    float: right;
    height: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: {
      top:10px;
      bottom: 10px;
    };
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;
    -webkit-box-shadow: 0 5px 20px -15px rgba(68, 68, 68, 0.5);
    -moz-box-shadow: 0 5px 20px -15px rgba(68, 68, 68, 0.5);
    box-shadow: 0 5px 20px -15px rgba(68, 68, 68, 0.5);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    button{
      position: absolute;
      //left: 10px;
      right:50%;
      -webkit-transform: translateX(50%);
      -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
      -o-transform: translateX(50%);
      transform: translateX(50%);
      top: 185px;
      z-index: +98;
      width: 200px;
      border-radius: 0;
      span{
        width: 100%;
      }
    }
    .contents{
      width: 100%;
      height: auto;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: $lightGray;
      padding: {
        right: 10px;
        top: 10px;
        bottom: 10px;
        left: 10px;
      };
      border:{
        bottom:2px solid darken($lightGray , 10%);
      };
      .image {
        float: right;
        width: 200px;
        height: 200px;
        margin: {
          right:calc((100% - 200px) / 2);
          left:calc((100% - 200px) / 2);
          top: 10px;
          bottom: 10px;
        };
      }
      .description{
        text-align: justify;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: right;
        height: auto;
        width: 100%;
        font-size: 0.95em;
        .title{
          width:100%;
          color: $blue;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          background-color: $lightGray;
          text-align: justify;
          font-size: 1.1em;
          h4{
            width: 100%;
          }
        }
        .date {
          color: darken($gray , 10%);
          width:100%;
          .number{
            padding-right: 5px;
          }
        }
        p{
          width: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
    }
  }
  .paginator{
    margin: {
      top: 20px;
    };
    width: 100%;
    *{
      float: left;
    }
    .paginateBox{
      padding: 0;
      margin: 0;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      a{
        display: inline-block;
        margin: {
          right: 5px;
          left: 5px;
        };

        &.text , &.number {
          cursor: pointer;
          height: 40px;
          width: 40px;
          border-radius:100%;
          background-color: $lightGray;
          text-align: center;
          -webkit-box-shadow: 0 5px 20px -15px rgba(68, 68, 68, 0.5);
          -moz-box-shadow: 0 5px 20px -15px rgba(68, 68, 68, 0.5);
          box-shadow: 0 5px 20px -15px rgba(68, 68, 68, 0.5);
        }
        &.text{
          font-size: 0.9em;
        }
        &.number{
          font-size: 1.1em;
        }
        &.active{
          color: $blue;
        }
        &:hover{
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          color: $blue;
        }
      }
    }
  }
}