// colors
$blue : #1da7ff ;
$orange : #f06305 ;
$lightGray : #f2f2f2 ;
$darkGray : #333333 ;
$gray : #cccccc ;
$white : #ffffff ;

// sizes
$desktopSize : 1024px ;
$mobileSize : 768px ;

// font
$font : "yekan" ;